.search-news-input input {
  text-align: center;
  width: 300px;
  height: 31px;
  border-radius: 5px;
  /* border: solid #bfd6e2 2px; */
  border: solid black 1px;
  background-color: #bfd6e2;
  color: #4150b5;
  box-shadow: 0px 5px (rgba(0, 0, 0, 0.2));
  outline: none;
  font-size: 16px;
  margin-bottom: -10px;
}

.news__list {
}

.news__list-link {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.news-link a {
  color: black;
}
.news-link span {
  background-color: #fff;
}
