.home {
  max-width: 1900px;
  max-height: 800px;
  text-align: center;
}

.home__wrapper {
  background-image: url("./img/hello.jpeg");
  width: 100%;
  height: 800px;
  background-size: cover;
}

.text {
  padding-top: 142px;
  color: #4050b5;
}
