.weather {
  max-width: 1900px;
  max-height: 800px;
  text-align: center;
}

.weather-wrapper {
  background-image: url("../weather/Pictures/bg_clouds.jpg");
  position: absolute;
  width: 1500px;
  height: 800px;
  background-size: cover;
}

.search {
  margin: 20px auto;
  padding-top: 100px;
}

.search input {
  /* box-decoration-break: none; */
  text-align: center;
  width: 300px;
  height: 31px;
  border-radius: 25px;
  border: solid black 1px;
  background-color: #bfd6e2;
  color: #4150b5;
  box-shadow: 0px 5px (rgba(0, 0, 0, 0.2));
  outline: none;
  font-size: 16px;
}

.search button {
  background: #76b3fa;
  border-radius: 100px;
  padding: 8px 20px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  margin: 10px 7px;
  border: solid #bfd6e2 2px;
  /* Убираем выделение синим цветом при нажатии */
  outline: none;
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
