.weather {
  max-width: 1900px;
  max-height: 800px;
  text-align: center;
}

.weather-wrapper {
  /* padding-top: -100px; */
  background-image: url("../weather/Pictures/bg_clouds.jpg");
  position: relative;
  width: 1500px;
  height: 800px;
  background-size: cover;
  /* background-image: inherit; */
}

.search {
  margin: 20px auto;
  /* position: relative; */
  padding-top: 80px;
}

.search input {
  box-decoration-break: none;
  text-align: center;
  width: 250px;
  height: 21px;
  border-radius: 25px;
  border: solid #bfd6e2 2px;
  background-color: #bfd6e2;
  color: #4150b5;
  box-shadow: 0px 5px (rgba(0, 0, 0, 0.2));
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.weather-box .temperature {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
